* {
    margin: 0%;
    padding: 0%;
}

:root {
    --flag-height: 150px;
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: darkgray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flag {
    display: flex;
    height: var(--flag-height);
    width: calc(var(--flag-height) * 1.5);
    background-color: black;
}

.s1 {
    background-color: white;
    width: calc(var(--flag-height) / 2);
}

.s2 {
    background-color: red;
    width: var(--flag-height);
    height: 50%;
}

.s3 {
    background-color: green;
    width: var(--flag-height);
    height: 50%;
}
